{
    "openapi": "3.0.0",
    "info": {
        "title": "Zenzio",
        "version": "1.0.0",
        "description": ""
    },
    "servers": [
        {
            "url": "https://backend.zenzio.in"
        }
    ],
    "paths": {
        "/api/users": {
            "get": {
                "summary": "List users",
                "tags": [
                    "Users"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of users"
                    }
                }
            },
            "post": {
                "summary": "Create user (direct create) - can be used by admin",
                "tags": [
                    "Users"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User created"
                    }
                }
            }
        },
        "/api/users/{id}": {
            "get": {
                "summary": "Get user by id",
                "tags": [
                    "Users"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            },
            "put": {
                "summary": "Update user",
                "tags": [
                    "Users"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "profilePhoto"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "birthday": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "anniversary": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "profilePhoto": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "Profile photo file is required"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User updated"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "400": {
                        "description": "Validation error"
                    }
                }
            },
            "delete": {
                "summary": "Delete user",
                "tags": [
                    "Users"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted"
                    }
                }
            }
        },
        "/api/restaurants": {
            "get": {
                "summary": "List restaurants (with search & pagination)",
                "tags": [
                    "Restaurants"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Search in name/address/cuisine"
                    },
                    {
                        "name": "cuisine",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "minCost",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "maxCost",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "total": {
                                            "type": "integer"
                                        },
                                        "page": {
                                            "type": "integer"
                                        },
                                        "pageSize": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/RestaurantReg"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create restaurant",
                "tags": [
                    "Restaurants"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/RestaurantRegCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestaurantReg"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/restaurants/{id}": {
            "get": {
                "summary": "Get restaurant by id",
                "tags": [
                    "Restaurants"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Restaurant",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestaurantReg"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            },
            "put": {
                "summary": "Update restaurant",
                "tags": [
                    "Restaurants"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RestaurantRegUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestaurantReg"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            },
            "delete": {
                "summary": "Delete restaurant",
                "tags": [
                    "Restaurants"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            }
        },
        "/api/restaurants/{id}/delivery-settings": {
            "put": {
                "tags": [
                    "Restaurants"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "summary": "Update delivery settings for a restaurant",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Restaurant ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "deliveryType": {
                                        "type": "string",
                                        "example": "RADIUS",
                                        "description": "RADIUS or ZONES"
                                    },
                                    "deliveryRadius": {
                                        "type": "number",
                                        "example": 5,
                                        "description": "Delivery radius in km (if deliveryType is RADIUS)"
                                    },
                                    "deliveryZones": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "Zone 1",
                                            "Zone 2"
                                        ],
                                        "description": "Applicable delivery zones (if deliveryType is ZONES)"
                                    },
                                    "restaurantLatitude": {
                                        "type": "number",
                                        "example": 12.9716
                                    },
                                    "restaurantLongitude": {
                                        "type": "number",
                                        "example": 77.5946
                                    },
                                    "minOrderAmount": {
                                        "type": "number",
                                        "example": 200,
                                        "description": "Minimum order amount required for delivery"
                                    },
                                    "baseDeliveryFee": {
                                        "type": "number",
                                        "example": 50,
                                        "description": "Base delivery fee in currency units"
                                    }
                                },
                                "required": [
                                    "deliveryType",
                                    "restaurantLatitude",
                                    "restaurantLongitude"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Delivery settings updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Delivery settings updated"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Restaurant"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Restaurant not found"
                    },
                    "500": {
                        "description": "Failed to update delivery settings"
                    }
                }
            }
        },
        "/api/restaurants/{id}/foods": {
            "get": {
                "tags": [
                    "Restaurants"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "summary": "Get all active food items for a restaurant (only if online)",
                "description": "Fetches all active food items from a restaurant only if the restaurant's current status is ONLINE.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Restaurant ID (UUID)",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of active food items for the restaurant",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "3e2a76f8-1d9c-4aef-8bb7-7e8a5cf8d47c"
                                                    },
                                                    "rest_id": {
                                                        "type": "string",
                                                        "example": "c7a5a3dc-5f7c-42d9-9a3a-4f0731c5a37b"
                                                    },
                                                    "food_name": {
                                                        "type": "string",
                                                        "example": "Chicken Biryani"
                                                    },
                                                    "price": {
                                                        "type": "number",
                                                        "example": 180
                                                    },
                                                    "isActive": {
                                                        "type": "boolean",
                                                        "example": true
                                                    },
                                                    "category": {
                                                        "type": "string",
                                                        "example": "Main Course"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Aromatic basmati rice with spicy marinated chicken."
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "example": "https://example.com/uploads/foods/biryani.jpg"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Restaurant is offline",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Restaurant is currently offline. You cannot view its menu."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Failed to fetch food items"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/restaurants/login": {
            "post": {
                "tags": [
                    "RestaurantAuth"
                ],
                "summary": "Login restaurant account (Email OR Mobile)",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "emailOrMobile": {
                                        "type": "string",
                                        "example": "demo@restaurant.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "12345678"
                                    }
                                },
                                "required": [
                                    "emailOrMobile",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful"
                    },
                    "400": {
                        "description": "Email/Mobile and password are required"
                    },
                    "401": {
                        "description": "Incorrect password"
                    },
                    "403": {
                        "description": "Account blocked or pending approval"
                    },
                    "404": {
                        "description": "Email or Mobile number not found"
                    }
                }
            }
        },
        "/api/restaurants/logout": {
            "post": {
                "tags": [
                    "RestaurantAuth"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "summary": "Logout restaurant account",
                "description": "Logs out a restaurant user using their email or mobile number. This endpoint may clear session data or simply indicate successful logout depending on implementation.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "emailOrMobile": {
                                        "type": "string",
                                        "example": "demo@restaurant.com",
                                        "description": "Email address or mobile number of the restaurant account"
                                    }
                                },
                                "required": [
                                    "emailOrMobile"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Logout successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Logout successful"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Email or Mobile number is required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Email or mobile number is required to logout"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Restaurant not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Restaurant not found with given email or mobile number"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong during logout"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Internal Server Error"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/restaurants/forgot-password/send-otp": {
            "post": {
                "tags": [
                    "RestaurantAuth"
                ],
                "summary": "Send OTP for password reset (Email OR Mobile)",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "emailOrMobile": {
                                        "type": "string",
                                        "example": "demo@restaurant.com"
                                    }
                                },
                                "required": [
                                    "emailOrMobile"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP sent successfully"
                    },
                    "400": {
                        "description": "Email or Mobile number is required"
                    },
                    "404": {
                        "description": "Email or Mobile number not registered"
                    }
                }
            }
        },
        "/api/restaurants/forgot-password/verify-otp": {
            "post": {
                "tags": [
                    "RestaurantAuth"
                ],
                "summary": "Verify OTP for password reset",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "emailOrMobile": {
                                        "type": "string",
                                        "example": "demo@restaurant.com"
                                    },
                                    "otp": {
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "required": [
                                    "emailOrMobile",
                                    "otp"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP verified successfully"
                    },
                    "400": {
                        "description": "Invalid or expired OTP"
                    },
                    "404": {
                        "description": "Email or Mobile number not found"
                    }
                }
            }
        },
        "/api/restaurants/forgot-password/reset-password": {
            "post": {
                "tags": [
                    "RestaurantAuth"
                ],
                "summary": "Reset password after OTP verification",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "emailOrMobile": {
                                        "type": "string",
                                        "example": "demo@restaurant.com"
                                    },
                                    "newPassword": {
                                        "type": "string",
                                        "example": "newSecurePassword123"
                                    }
                                },
                                "required": [
                                    "emailOrMobile",
                                    "newPassword"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset successful"
                    },
                    "403": {
                        "description": "Please verify OTP first"
                    },
                    "404": {
                        "description": "Email or Mobile number not found"
                    }
                }
            }
        },
        "/api/restaurants/forgot-password/resend-otp": {
            "post": {
                "tags": [
                    "RestaurantAuth"
                ],
                "summary": "Resend OTP for password reset (Email OR Mobile)",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "emailOrMobile": {
                                        "type": "string",
                                        "example": "demo@restaurant.com"
                                    }
                                },
                                "required": [
                                    "emailOrMobile"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP resent successfully"
                    },
                    "400": {
                        "description": "Email or Mobile number is required"
                    },
                    "404": {
                        "description": "Email or Mobile number not registered"
                    }
                }
            }
        },
        "/api/food-items": {
            "get": {
                "tags": [
                    "Food Items"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "summary": "Get all food items (optionally filter by restaurantId, cuisineId, categoryId, or search)",
                "parameters": [
                    {
                        "name": "restaurantId",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter by restaurant ID"
                    },
                    {
                        "name": "cuisineId",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter by cuisine ID"
                    },
                    {
                        "name": "categoryId",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter by category ID"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Search by dishname"
                    },
                    {
                        "name": "veg",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        },
                        "description": "Filter by Veg (true) or Non-Veg (false)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of food items",
                        "content": {
                            "application/json": {
                                "example": {
                                    "success": true,
                                    "data": [
                                        {
                                            "id": "uuid",
                                            "dishname": "Paneer Butter Masala",
                                            "price": 250,
                                            "veg": true,
                                            "dishimage": "/uploads/food/1730255842381-paneer.jpg",
                                            "rest_id": "restaurant-uuid",
                                            "cuisine": {
                                                "id": "cuisine-uuid",
                                                "name": "Indian"
                                            },
                                            "category": {
                                                "id": "category-uuid",
                                                "name": "Main Course"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            },
            "post": {
                "summary": "Create a food item (with optional image upload)",
                "tags": [
                    "Food Items"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "rest_id": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "cuisineId": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "categoryId": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "dishname": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "price": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "veg": {
                                        "type": "boolean"
                                    },
                                    "contain_allergens": {
                                        "type": "boolean"
                                    },
                                    "specify_allergence": {
                                        "type": "string"
                                    },
                                    "customised_options": {
                                        "type": "string",
                                        "description": "JSON stringified object for options"
                                    },
                                    "dishimage": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "Image file for the dish"
                                    }
                                },
                                "required": [
                                    "rest_id",
                                    "dishname",
                                    "price"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Food item created successfully"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/food-items/{id}": {
            "get": {
                "summary": "Get food item by ID",
                "tags": [
                    "Food Items"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Single food item with cuisine and category",
                        "content": {
                            "application/json": {
                                "example": {
                                    "success": true,
                                    "data": {
                                        "id": "uuid",
                                        "dishname": "Paneer Butter Masala",
                                        "price": 250,
                                        "dishimage": "/uploads/food/1730255842381-paneer.jpg",
                                        "cuisine": {
                                            "id": "cuisine-uuid",
                                            "name": "Indian"
                                        },
                                        "category": {
                                            "id": "category-uuid",
                                            "name": "Main Course"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Food item not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            },
            "put": {
                "summary": "Update food item (with optional new image upload)",
                "tags": [
                    "Food Items"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "dishname": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "price": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "veg": {
                                        "type": "boolean"
                                    },
                                    "contain_allergens": {
                                        "type": "boolean"
                                    },
                                    "specify_allergence": {
                                        "type": "string"
                                    },
                                    "customised_options": {
                                        "type": "string",
                                        "description": "JSON stringified object for options"
                                    },
                                    "cuisineId": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "categoryId": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "dishimage": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "New image file (optional)"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated food item"
                    },
                    "404": {
                        "description": "Food item not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            },
            "delete": {
                "summary": "Delete food item",
                "tags": [
                    "Food Items"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Food item deleted successfully"
                    },
                    "404": {
                        "description": "Food item not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/cart/active": {
            "get": {
                "summary": "Get user's active cart (any restaurant)",
                "tags": [
                    "Cart"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "userId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "User ID",
                        "example": "a3f4d02b-4d8b-4b1d-b26d-5c32a11e1f55"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Active cart returned successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Active cart fetched successfully."
                                        },
                                        "cart": {
                                            "oneOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "userId": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "rest_id": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "enum": [
                                                                "active",
                                                                "checked_out",
                                                                "abandoned",
                                                                "expired"
                                                            ]
                                                        },
                                                        "expiresAt": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "restaurantOnline": {
                                                            "type": "boolean"
                                                        },
                                                        "items": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object"
                                                            }
                                                        },
                                                        "restaurant": {
                                                            "type": "object"
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid or missing userId"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/cart/items": {
            "post": {
                "summary": "Add item to cart (with restaurant conflict detection)",
                "tags": [
                    "Cart"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "userId",
                                    "foodId"
                                ],
                                "properties": {
                                    "userId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "example": "a3f4d02b-4d8b-4b1d-b26d-5c32a11e1f55"
                                    },
                                    "foodId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "example": "232c2163-53d7-4c1a-86ec-c3ca5eee0fa8"
                                    },
                                    "quantity": {
                                        "type": "integer",
                                        "default": 1,
                                        "example": 2
                                    },
                                    "selectedAddOns": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "Extra Paneer"
                                                },
                                                "price": {
                                                    "type": "number",
                                                    "example": 50
                                                }
                                            },
                                            "required": [
                                                "name",
                                                "price"
                                            ]
                                        },
                                        "example": [
                                            {
                                                "name": "Extra Paneer",
                                                "price": 50
                                            },
                                            {
                                                "name": "Butter Naan",
                                                "price": 30
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Item added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Item added to cart"
                                        },
                                        "cart": {
                                            "type": "object"
                                        },
                                        "addedItem": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input or item unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Paneer Tikka is currently unavailable"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Restaurant offline",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "RESTAURANT_OFFLINE"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Spice Garden is currently closed or offline."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Food item not found"
                    },
                    "409": {
                        "description": "Cart contains items from different restaurant (Conflict)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "DIFFERENT_RESTAURANT"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Items already in cart from a different restaurant"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "currentCart": {
                                                    "type": "object",
                                                    "properties": {
                                                        "cartId": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "restaurantId": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "restaurantName": {
                                                            "type": "string",
                                                            "example": "Pizza Palace"
                                                        },
                                                        "itemCount": {
                                                            "type": "integer",
                                                            "example": 3
                                                        },
                                                        "items": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string",
                                                                        "format": "uuid"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "quantity": {
                                                                        "type": "integer"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "newItem": {
                                                    "type": "object",
                                                    "properties": {
                                                        "restaurantId": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "restaurantName": {
                                                            "type": "string",
                                                            "example": "Burger King"
                                                        },
                                                        "foodId": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "foodName": {
                                                            "type": "string",
                                                            "example": "Whopper Burger"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/cart/clear-and-add": {
            "post": {
                "summary": "Clear current cart and add item from different restaurant",
                "tags": [
                    "Cart"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "userId",
                                    "foodId"
                                ],
                                "properties": {
                                    "userId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "example": "a3f4d02b-4d8b-4b1d-b26d-5c32a11e1f55"
                                    },
                                    "foodId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "example": "232c2163-53d7-4c1a-86ec-c3ca5eee0fa8"
                                    },
                                    "quantity": {
                                        "type": "integer",
                                        "default": 1,
                                        "example": 2
                                    },
                                    "selectedAddOns": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "price": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Cart cleared and item added successfully"
                    },
                    "400": {
                        "description": "Invalid input"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/cart/items/{id}": {
            "put": {
                "summary": "Update cart item quantity",
                "tags": [
                    "Cart"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "Cart Item ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "userId",
                                    "quantity"
                                ],
                                "properties": {
                                    "userId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "example": "a3f4d02b-4d8b-4b1d-b26d-5c32a11e1f55"
                                    },
                                    "quantity": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "example": 3,
                                        "description": "Set to 0 to remove item"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Item updated or removed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Item updated"
                                        },
                                        "item": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid quantity or missing userId"
                    },
                    "403": {
                        "description": "Unauthorized or restaurant offline"
                    },
                    "404": {
                        "description": "Item not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            },
            "delete": {
                "summary": "Remove item from cart",
                "tags": [
                    "Cart"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "Cart Item ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "userId"
                                ],
                                "properties": {
                                    "userId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "example": "a3f4d02b-4d8b-4b1d-b26d-5c32a11e1f55"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Item removed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Item removed from cart"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing userId"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Item not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/cart/summary/{cartId}": {
            "get": {
                "summary": "Get cart summary with pricing details",
                "tags": [
                    "Cart"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "cartId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "Cart ID",
                        "example": "411adec9-4cd5-4e5b-aca7-30ed87d2573c"
                    },
                    {
                        "name": "userId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "User ID",
                        "example": "a3f4d02b-4d8b-4b1d-b26d-5c32a11e1f55"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cart summary returned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "cartId": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "subtotal": {
                                            "type": "number",
                                            "format": "float",
                                            "example": 500.0
                                        },
                                        "tax": {
                                            "type": "number",
                                            "format": "float",
                                            "example": 25.0
                                        },
                                        "deliveryFee": {
                                            "type": "number",
                                            "format": "float",
                                            "example": 40.0
                                        },
                                        "total": {
                                            "type": "number",
                                            "format": "float",
                                            "example": 565.0
                                        },
                                        "minOrderAmount": {
                                            "type": "number",
                                            "example": 500
                                        },
                                        "isBelowMinOrder": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "restaurant": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Spice Garden"
                                                },
                                                "minOrderAmount": {
                                                    "type": "number"
                                                },
                                                "baseDeliveryFee": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Cart is empty or invalid userId"
                    },
                    "404": {
                        "description": "Cart or restaurant not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/cart/validate/{cartId}": {
            "get": {
                "summary": "Validate cart before checkout (price updates, availability, stock)",
                "tags": [
                    "Cart"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "cartId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "Cart ID",
                        "example": "411adec9-4cd5-4e5b-aca7-30ed87d2573c"
                    },
                    {
                        "name": "userId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "User ID",
                        "example": "a3f4d02b-4d8b-4b1d-b26d-5c32a11e1f55"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation completed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "valid": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Whether cart is valid for checkout"
                                        },
                                        "issues": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "ITEM_DELETED",
                                                            "ITEM_UNAVAILABLE",
                                                            "INSUFFICIENT_STOCK"
                                                        ]
                                                    },
                                                    "itemId": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "foodName": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "requested": {
                                                        "type": "integer"
                                                    },
                                                    "available": {
                                                        "type": "integer"
                                                    }
                                                }
                                            },
                                            "example": [
                                                {
                                                    "type": "ITEM_UNAVAILABLE",
                                                    "itemId": "232c2163-53d7-4c1a-86ec-c3ca5eee0fa8",
                                                    "foodName": "Paneer Tikka",
                                                    "message": "Paneer Tikka is currently unavailable"
                                                }
                                            ]
                                        },
                                        "priceUpdates": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string",
                                                        "example": "PRICE_CHANGED"
                                                    },
                                                    "itemId": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "foodName": {
                                                        "type": "string"
                                                    },
                                                    "oldPrice": {
                                                        "type": "number"
                                                    },
                                                    "newPrice": {
                                                        "type": "number"
                                                    },
                                                    "difference": {
                                                        "type": "number"
                                                    },
                                                    "increased": {
                                                        "type": "boolean"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "example": [
                                                {
                                                    "type": "PRICE_CHANGED",
                                                    "itemId": "232c2163-53d7-4c1a-86ec-c3ca5eee0fa8",
                                                    "foodName": "Butter Chicken",
                                                    "oldPrice": 250,
                                                    "newPrice": 280,
                                                    "difference": 30,
                                                    "increased": true,
                                                    "message": "Price increased by ₹30.00"
                                                }
                                            ]
                                        },
                                        "requiresConfirmation": {
                                            "type": "boolean",
                                            "example": false,
                                            "description": "Whether user confirmation is needed before checkout"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cart is valid and ready for checkout"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Cart is empty or missing userId"
                    },
                    "403": {
                        "description": "Restaurant offline",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "valid": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "RESTAURANT_OFFLINE"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Restaurant is currently closed. Cannot proceed with checkout."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/orders/create-payment-order": {
            "post": {
                "summary": "Create Razorpay payment order (before checkout)",
                "tags": [
                    "Checkout"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "userId",
                                    "cartId"
                                ],
                                "properties": {
                                    "userId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "example": "a3f4d02b-4d8b-4b1d-b26d-5c32a11e1f55"
                                    },
                                    "cartId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "example": "b7d1c70c-8571-4f8e-b24c-f8f4b5ef6b3d"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Razorpay order created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "razorpayOrderId": {
                                            "type": "string",
                                            "example": "order_JK34F89AD2P3KL"
                                        },
                                        "amount": {
                                            "type": "number",
                                            "example": 565.0
                                        },
                                        "currency": {
                                            "type": "string",
                                            "example": "INR"
                                        },
                                        "key": {
                                            "type": "string",
                                            "example": "rzp_test_xxx"
                                        },
                                        "orderDetails": {
                                            "type": "object",
                                            "properties": {
                                                "subtotal": {
                                                    "type": "number",
                                                    "example": 500.0
                                                },
                                                "tax": {
[...]
